.container {
  width: 88vw;
  margin: auto;
  background-color: "black";
}
body {
  color: #ffffff;
  background-color: #0a0a0a;
  font-size: 140%;
  font-family: monospace;
  background-image: url("wallpaper.jpg");
}

hr {
  width: 50%;
  margin-left: 0;
}

.capitalize {
  text-transform: capitalize;
}

a {
  color: #f66666;
  text-align: center;
}
li {
  color: #f99999;
}
p {
  color: #fccccc;
}

.heart {
  list-style: " ♡ ";
}

.f-r {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.f-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  max-width: 250px;
  min-height: 220px;
  margin: auto;
  margin-bottom: 40px;
}

.cards {
  align-items: center;
}

img {
  filter: grayscale(55%);
  margin-bottom: 10px;
}

.no-list-style {
  list-style: none;
}

.center {
  justify-content: center;
}

.serif{
  font-family: 'Times New Roman', Times, serif;
  font-size: 130%;
  display: inline;
}

.font-1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  display: inline;
}
